<div class="modal-header">
    <h5 class="modal-title">{{ ticket.title }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="row mb-3">
        <div class="col-md-6">
            {% include 'dashboard/tickets/status_inline.html.twig' with {
                project: project,
                ticket: ticket,
                allowedTo: allowedTo
            } %}

            <p><strong>Issue Type:</strong>
                <span class="badge" style="background-color: {{ ticket.color }}; color: white;">
                  {{ ticket.issueType.title }}
                </span>
            </p>
            <p><strong>Priority:</strong> <span class="badge {{ ticket.priorityBadge }}">{{ ticket.priority.value|capitalize }}</span></p>

            {% include 'dashboard/tickets/assignee_inline.html.twig' with {
                project: project,
                ticket: ticket,
                projectUsers: projectUsers
            } %}
        </div>
        <div class="col-md-6">
            <p><strong>Description:</strong></p>
            <p>{{ ticket.description|raw }}</p>
        </div>
    </div>

    <hr>

    <h6>Comments</h6>
    <div id="ticketCommentForm">
        {% include 'dashboard/tickets/comments/comment_form.html.twig' with { form: commentForm, ticket: ticket } %}
    </div>
    <hr>
    <div id="ticketComments">
        {% include 'dashboard/tickets/comments/comments_list.html.twig' with { ticket: ticket } %}
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
