{{ form_start(form) }}
    {% if form._token is defined %}
        {{ form_widget(form._token) }}
    {% endif %}
    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">{{ status ? 'Edit status' : 'New status' }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <div class="mb-4">
            <div class="mb-3">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div>
                {{ form_widget(form.isInitial) }}
                {{ form_label(form.isInitial) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form.isFinal) }}
                {{ form_label(form.isFinal) }}
                {{ form_errors(form.isFinal) }}
            </div>
            <div class="mb-3">
                {% if form.no_transitions_info is defined %}
                    <div class="alert alert-info">
                        No transitions available. Please add status to see options.
                    </div>
                {% else %}
                    {{ form_label(form.transitions) }}
                    {% for child in form.transitions %}
                        <div class="form-check">
                            {{ form_widget(child, { attr: { class: 'form-check-input' ~ (form.transitions.vars.errors|length ? ' is-invalid' : '') } }) }}
                            {{ form_label(child, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
                        </div>
                    {% endfor %}
                    {{ form_errors(form.transitions) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
{{ form_end(form, { render_rest: false }) }}