{% if statuses is empty %}
    <div class="p-4 text-muted">No matching tickets.</div>
{% else %}
    {% for status in statuses %}
        {% set tickets = ticketsByStatus[status.id]|default([]) %}
        <div class="column theme-purple">
            <div class="column-header">
                <h3>{{ status.title }}</h3>
                <span class="badge">{{ tickets|length }}</span>
            </div>
            <div class="ticket-list"
                 data-status-id="{{ status.id }}"
                 data-allowed-to="{{ status.allowedStatusToIds|join(',') }}"
                 data-move-url="{{ path('dashboard_ticket_move', { key: project.key }) }}"
            >
                {% include 'dashboard/tickets/ticket_items.html.twig' with { project: project, tickets: tickets} %}
            </div>
        </div>
    {% endfor %}
{% endif %}
