{% extends "dashboard/index.html.twig" %}

{% block javascripts %}
    <link  rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script src="{{ asset('js/status_transitions.js') }}"></script>
    <script src="{{ asset('js/board.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }}

    <div id="dndFlash" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index:1080; width: 480px;"></div>

    <div class="container">
        <div class="header">
            <h2>{{ project.title }} Board</h2>
            <div class="search-group">
                <form id="boardSearchForm" class="d-flex gap-2" autocomplete="off">
                    <input id="boardSearch" type="text" class="form-control" placeholder="Search tickets...">
                    <button class="btn btn-outline-secondary" type="submit">Go</button>
                    <button class="btn btn-link" id="boardSearchClear" type="button" title="Clear">&times;</button>
                </form>
            </div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#drpPopup">
                Create Ticket
            </button>
        </div>

        <div id="boardGrid"
             class="grid"
             data-search-url="{{ path('dashboard_board_search', { key: project.key }) }}"
        >
            {% include 'dashboard/board/board_columns.html.twig' with { statuses: workflowStatuses, ticketsByStatus: ticketsByStatus, project: project } %}
        </div>
    </div>

    <div class="modal fade" id="ticketModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="ticketModalContent"></div>
        </div>
    </div>

    <div class="modal fade" id="drpPopup" aria-labelledby="drpPopupLabel" aria-hidden="true" > 
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="drpPopupLabel">{{ project.title }} Board</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {{ form_start(form) }}
                    <div class="modal-body">
                        <div class="mb-4">
                            <h4 class="mb-3">Create a New Ticket</h4>
                            
                            <div class="mb-3">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                                {{ form_errors(form.title) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.issueType) }}
                                {{ form_widget(form.issueType) }}
                                {{ form_errors(form.issueType) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.priority) }}
                                {{ form_widget(form.priority) }}
                                {{ form_errors(form.priority) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.description) }}
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.assignedTo) }}
                                {{ form_widget(form.assignedTo) }}
                                {{ form_errors(form.assignedTo) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script>
        tinymce.init({
            selector: 'textarea.tinymce',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
{% endblock %}