<div class="bg-light border-end vh-100" style="width: 250px;">
    <div class="p-2">
        <h5 class="text-primary">{{ project.title }}</h5>
    </div>
    <div class="p-1" id="toggle-planning-menu" style="cursor: pointer;">
        <i class="bi-arrow-down-short fs-4 custom-icon" id="toggle-planning-icon"></i> Planning
    </div>
    <ul class="nav flex-column px-2" id="nav-planning-menu">
        <li class="nav-item">
            <a class="nav-link {% if 'summary' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('dashboard_summary', {key: project.key}) }}"><i class="bi bi-pie-chart"></i> Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if 'board' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('dashboard_index', {key: project.key}) }}"><i class="bi bi-{{ project.isScrumProject ? 'flag' : 'kanban' }}"></i> {{ project.boardName }}</a>
        </li>
        {% if project.isScrumProject %}
            <li class="nav-item">
                <a class="nav-link {% if 'sprintBacklog' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('dashboard_index', {key: project.key}) }}"><i class="bi bi-kanban"></i> Sprint Backlog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'sprints' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('dashboard_index', {key: project.key}) }}"><i class="bi bi-calendar-week"></i> Sprints</a>
            </li>
        {% endif %}
    </ul>
    {% if is_granted('PROJECT_ADMIN', project) %}
        <hr>
        <div class="p-1" id="toggle-settings-menu" style="cursor: pointer;">
            <i class="bi-arrow-down-short fs-4 custom-icon" id="toggle-settings-icon"></i> Settings
        </div>
        <ul class="nav flex-column px-2" id="nav-settings-menu">
            <li class="nav-item">
                <a class="nav-link {% if 'workflows' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('workflow_status_index', {key: project.key}) }}"><i class="bi bi-diagram-3"></i> Workflows</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'access' == activeMenu %}text-primary{% else %}text-dark{% endif %}" href="{{ path('dashboard_access', {key: project.key}) }}"><i class="bi bi-people"></i> Access</a>
            </li>
        </ul>
    {% endif %}
</div>